{% extends 'base.html' %}
{% load staticfiles %}
   <head>
    <link href='http://fonts.googleapis.com/css?family=Economica' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <!-- Respomsive slider -->
    <link href="../css/responsive-calendar.css" rel="stylesheet">
        <script src = "{% static 'js/jquery.min.js' %}"></script>
  </head>
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
   <!-- Compiled and minified CSS -->
    
 
</head>
<body>
  <h3> Charts</h3>
<div class="container">
      
</div>


</body>

</html>





{% endblock %}